*{
    margin: 0;
    padding: 0;
    border: 0;
    
}

#initial{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

#initial .container {
    width: 100%;
    height: auto;
}
#initial .container header{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;

}
#initial .container header .title{
    width: 500px;
    margin: 0 auto;
    
}

#initial .container .content{
    width: 100%;
    height: 80vh;
    overflow-y: scroll;

}

.post{
    width: 500px;
    margin: 20px auto;
}

.post header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px auto;
    box-sizing: border-box;
    
}

.post .post-body{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.post .post-body img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;

}
.post .post-footer{
    width: 100%;
    height: auto;
    margin-bottom: -5px;
    box-sizing: border-box;
    
    
}

.post-footer p{
    text-transform: capitalize;
    text-align: justify;
    background-color: white;
